<template>
    <v-app-bar
            fixed
    >
        <v-autocomplete
                :loading="loading"
                :items="movieList"
                :search-input.sync="searchValue"
                item-text="Title"
                item-value="Title"
                clearable
                flat
                hide-details
                label="Enter movie name"
                solo-inverted
                prepend-inner-icon="mdi-magnify"
                :no-data-text="loading ? 'Loading...' : $vuetify.noDataText"
        ></v-autocomplete>
    </v-app-bar>
</template>
<script>
    import _ from 'lodash'
    import {mapState} from 'vuex'

    export default {
        data() {
            return {
                searchValue: '',
                loading: false
            }
        },
        computed: {
            ...mapState(['movieList']),
        },
        methods: {
            debouncedQuery: _.debounce(function () {
                this.loading = true
                this.$store.dispatch('getMovies', {
                    movieTitle: this.searchValue
                })
                    .catch(err => {
                        console.err(err)
                    })
                    .finally(() => {
                        this.loading = false
                    })
            }, 500)
        },
        watch: {
            searchValue(value) {
                if (value) {
                    this.debouncedQuery()
                }
            }
        }
    }
</script>
<style>

</style>