<template>
    <div class="empty-state-wrapper">
        <p class="empty-state-text d-flex align-center justify-center display-2 text-center">
            No data available:(
            <br/>
            Try another request
        </p>
    </div>
</template>

<style scoped>
    .empty-state-wrapper, .empty-state-text{
        height: 100%;
    }
</style>