<template>
    <div class="d-flex flex-wrap ma-4">
        <v-card v-for="movie in movieList"
                :key="movie.imdbID"
                :href="'https://www.imdb.com/title/' + movie.imdbID"
                target="_blank"
                class="movie-item ma-2 flex-grow-1"
        >
            <v-img
                    height="400"
                    :src="movie.Poster"
            ></v-img>
            <v-card-title>
                {{movie.Title}}
            </v-card-title>
            <v-card-subtitle>
                Year: {{movie.Year}}
            </v-card-subtitle>
            <v-card-text>
                imdbID: {{movie.imdbID}}
            </v-card-text>
        </v-card>
    </div>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        computed: {
            ...mapState(['movieList']),
        }
    }
</script>

<style lang="less" scoped>
    .movie-item{
        max-width: 500px;
    }
</style>