<template>
    <v-app>
        <app-bar/>
        <v-main class="mt-16">
            <transition name="fade">
                <movie-list v-if="movieList.length"/>
                <empty-state v-else/>
            </transition>
        </v-main>
    </v-app>
</template>

<script>
    import AppBar from './components/AppBar'
    import MovieList from './components/MovieList'
    import EmptyState from './components/EmptyState'
    import {mapState} from 'vuex'

    export default {
        name: 'App',
        components: {
            AppBar,
            MovieList,
            EmptyState
        },
        computed: {
            ...mapState(['movieList']),
        }
    };
</script>

<style scoped lang="less">
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.2s ease-out;
    }

    .fade-enter,
    .fade-leave-active {
        opacity: 0;
    }
</style>
